[submodule "vllm"]
	path = vllm
	url = https://gitlink.org.cn/I1Dsk46hji/vllm.git
	branch = fork-attn
[submodule "LMCache"]
	path = LMCache
	url = https://gitlink.org.cn/I1Dsk46hji/LMCache.git
	branch = fork-attn
[submodule "llama.cpp"]
	path = llama.cpp
	url = https://gitlink.org.cn/I1Dsk46hji/llama.git
	branch = fork-attn
[submodule "sglang"]
	path = sglang
	url = https://gitlink.org.cn/I1Dsk46hji/sglang.git
	branch = fork-attn
